.code-preview {
  background-color: #fafafa !important;
  height: 100% !important;
}

.code-preview .react-syntax-highlighter-line-number,
.code-preview .linenumber  {
  font-style: normal !important;
  padding-right: 1.5rem !important;
  min-width: 50px !important;
}
